In [5]:
import numpy as np
import pandas as pd
from scipy import stats

In [6]:
ed = pd.read_csv('education_districtwise.csv')
ed = ed.dropna()
ed.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

In [7]:
sampled_data = ed.sample(50, random_state=31208, replace=True)
sampled_data.head()

        DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
661  DISTRICT528   STATE6       9       112        89   1863174.0       92.14
216  DISTRICT291  STATE28      14      1188       165   3273127.0       52.49
367   DISTRICT66  STATE23      12      1169       116   1042304.0       62.14
254  DISTRICT458   STATE3       3       157        19     82839.0       76.33
286  DISTRICT636  STATE35       3       187        44    514683.0       86.70

In [10]:
sample_mean = sampled_data['OVERALL_LI'].mean()
sample_mean

np.float64(74.22359999999999)

In [11]:
estimated_standard_error = sampled_data['OVERALL_LI'].std() / np.sqrt(sampled_data.shape[0])
estimated_standard_error

np.float64(1.4292043386558317)

In [12]:
stats.norm.interval(0.99, loc=sample_mean, scale=estimated_standard_error)

(np.float64(70.54221358373107), np.float64(77.90498641626891))

99% CI: (70.54, 77.90)