In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
edata = pd.read_csv('education_districtwise.csv')

In [3]:
edata.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

In [4]:
edata.describe()

           BLOCKS     VILLAGES    CLUSTERS    TOTPOPULAT  OVERALL_LI
count  680.000000   680.000000  680.000000  6.340000e+02  634.000000
mean    10.760294   874.614706  121.226471  1.899024e+06   73.395189
std      9.585360   622.711657   94.040172  1.547475e+06   10.098460
min      1.000000     6.000000    1.000000  7.948000e+03   37.220000
25%      5.000000   390.750000   56.750000  8.226940e+05   66.437500
50%      8.000000   785.500000  101.000000  1.564392e+06   73.490000
75%     13.000000  1204.250000  162.500000  2.587520e+06   80.815000
max     66.000000  3963.000000  592.000000  1.105413e+07   98.760000

In [5]:
edata['OVERALL_LI'].describe()

count    634.000000
mean      73.395189
std       10.098460
min       37.220000
25%       66.437500
50%       73.490000
75%       80.815000
max       98.760000
Name: OVERALL_LI, dtype: float64

In [6]:
edata['STATNAME'].describe()

count         680
unique         36
top       STATE21
freq           75
Name: STATNAME, dtype: object

***Use max() and min() to compute range***

In [7]:
over_l_ranges = edata['OVERALL_LI'].max() - edata['OVERALL_LI'].min()
over_l_ranges

np.float64(61.540000000000006)