In [1]:
import pandas as pd
from scipy import stats
import numpy as np

In [2]:
ed = pd.read_csv('education_districtwise.csv')
ed = ed.dropna()

In [4]:
ed.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

In [12]:
state21 = ed[ed['STATNAME'] == 'STATE21']

In [13]:
state28 = ed[ed['STATNAME'] == 'STATE28']

In [14]:
sample_state21 = state21.sample(n = 20, replace=True, random_state = 13490)
sample_state21

        DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
169  DISTRICT373  STATE21       7       713        49   1218002.0       64.95
136  DISTRICT191  STATE21      10      1141        69   4773138.0       58.67
193  DISTRICT398  STATE21      23      2618       283   4616509.0       72.69
201  DISTRICT504  STATE21      13      1469       106   2494533.0       70.38
180   DISTRICT19  STATE21      10      1374       113   2398709.0       74.37
164  DISTRICT581  STATE21       8      1133        90   1372287.0       80.25
191  DISTRICT199  STATE21      15      1444       145   3560830.0       67.66
174  DISTRICT102  STATE21      15      1606       180   2632684.0       68.78
194   DISTRICT39  STATE21      10       751       124   2205170.0       75.16
154   DISTRICT28  STATE21      17      2185       161   3002376.0       61.61
172  DISTRICT553  STATE21       9       487        72   1799541.0       68.11
149  DISTRICT456  STATE21      11      1134        74   1761152.0       73.27
148  DISTRICT542  STATE21      11      1339       140   2496761.0       74.60
198  DISTRICT601  STATE21      10      1189       128   1952713.0       73.86
179  DISTRICT574  STATE21      17      1218       143   2468371.0       70.63
157  DISTRICT647  STATE21      25      2161       208   4091380.0       68.89
166  DISTRICT575  STATE21      20      1091       175   4572951.0       81.31
146  DISTRICT368  STATE21      13      1199       123   2541894.0       72.65
194   DISTRICT39  STATE21      10       751       124   2205170.0       75.16
153  DISTRICT185  STATE21       9      1205        97   2037225.0       63.58

In [15]:
sample_state28 = state28.sample(n = 20, replace=True, random_state = 39103)
sample_state28

        DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
214    DISTRICT4  STATE28       9       990       140   2806200.0       55.10
239  DISTRICT374  STATE28      19      1907       200   2962593.0       75.59
221  DISTRICT501  STATE28      16      1828       258   4778610.0       65.68
211  DISTRICT554  STATE28      17       852       169   3419622.0       53.53
211  DISTRICT554  STATE28      17       852       169   3419622.0       53.53
234  DISTRICT517  STATE28      20      1114       189   2872523.0       66.41
239  DISTRICT374  STATE28      19      1907       200   2962593.0       75.59
243  DISTRICT387  STATE28      14       953       132   2216653.0       61.63
219  DISTRICT459  STATE28      10       651       107   1897102.0       54.57
212  DISTRICT642  STATE28      21      1102       241   4476044.0       60.90
225  DISTRICT295  STATE28      16      1187       182   3495249.0       68.56
229  DISTRICT583  STATE28      17      1394       156   3032226.0       64.96
223  DISTRICT330  STATE28      19      1405       171   3318176.0       71.59
217  DISTRICT266  STATE28      16      1621       173   3068149.0       53.56
226  DISTRICT638  STATE28      20      1138       182   4254782.0       63.81
222  DISTRICT663  STATE28      14      1358       120   2558037.0       67.04
231  DISTRICT451  STATE28       9       535        78   1359054.0       73.30
212  DISTRICT642  STATE28      21      1102       241   4476044.0       60.90
235  DISTRICT111  STATE28      24      1600       266   5772804.0       72.47
231  DISTRICT451  STATE28       9       535        78   1359054.0       73.30

In [17]:
sample_state21['OVERALL_LI'].mean()

np.float64(70.82900000000001)

In [18]:
sample_state28['OVERALL_LI'].mean()

np.float64(64.60100000000001)

In [19]:
stats.ttest_ind(a = sample_state21['OVERALL_LI'], b = sample_state28['OVERALL_LI'], equal_var = False)

TtestResult(statistic=np.float64(2.8980444277268735), pvalue=np.float64(0.006421719142765237), df=np.float64(35.20796133045557))

In [22]:
aqi = pd.read_csv('c4_epa_air_quality.csv')
aqi = aqi.dropna()
aqi.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [ ]:
print('use head to see the first 5 rows of the dataframe')

In [23]:
aqi.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  257.000000       257.000000  257.000000
mean   129.766537         0.404578    6.782101
std     74.675286         0.319311    7.091422
min      0.000000         0.000000    0.000000
25%     66.000000         0.200000    2.000000
50%    130.000000         0.278947    5.000000
75%    194.000000         0.516667    9.000000
max    259.000000         1.921053   50.000000

In [25]:
aqi['state_name'].value_counts()

state_name
California              66
Arizona                 14
Ohio                    12
Florida                 12
Texas                   10
New York                10
Pennsylvania             9
Colorado                 9
Michigan                 9
Minnesota                7
New Jersey               6
Indiana                  5
Massachusetts            4
Oklahoma                 4
North Carolina           4
Nevada                   4
Maryland                 4
Connecticut              4
Virginia                 4
Utah                     3
Vermont                  3
Illinois                 3
Missouri                 3
Hawaii                   3
Iowa                     3
Wyoming                  3
Kentucky                 3
Alaska                   2
Rhode Island             2
Georgia                  2
Tennessee                2
Washington               2
Montana                  2
Maine                    2
Idaho                    2
New Mexico               2
District Of Columbia     2
Oregon                   2
New Hampshire            2
Kansas                   1
Alabama                  1
South Dakota             1
Nebraska                 1
Mississippi              1
Louisiana                1
Delaware                 1
North Dakota             1
Arkansas                 1
Puerto Rico              1
South Carolina           1
Wisconsin                1
Name: count, dtype: int64

In [29]:
ca_la = aqi[aqi['county_name'] == 'Los Angeles']
ca_other = aqi[(aqi['state_name'] == 'California') & (aqi['county_name']!= 'Los Angeles')]

In [30]:
significance_level = 0.05
significance_level

0.05

In [31]:
stats.ttest_ind(a=ca_la['aqi'], b=ca_other['aqi'], equal_var=False)

TtestResult(statistic=np.float64(2.1107010796372014), pvalue=np.float64(0.049839056842410995), df=np.float64(17.08246830361151))

In [32]:

ny = aqi[aqi['state_name']=='New York']
ohio = aqi[aqi['state_name']=='Ohio']

In [33]:
tstat, pvalue = stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], alternative='less', equal_var=False)
print(tstat)
print(pvalue)

-2.025951038880333
0.030446502691934683

In [34]:
michigan = aqi[aqi['state_name']=='Michigan']

In [ ]:
tstat, pvalue = stats.ttest_1samp(michigan['aqi'], 10, alternative='greater')
print(tstat)
print(pvalue)

-1.7395913343286131
0.9399405193140109

:

In [26]:
aqi.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3